.calendar {
  display: flex;
  flex-wrap: wrap;

  width: $block-size * 7 + $block-gap * 7;
  margin-top: 20px;

  > div {
    position: relative;

    justify-content: center;
    align-items: center;

    width: $block-size;
    height: $block-size;
    margin: 0 $block-gap $block-gap 0;

    background-color: #eee;
    border: 1px solid #000;
    cursor: pointer;

    transition: 0.5s;

    &::before {
      font-size: 30px;
    }

    &:hover {
      transform: translateY(-20px);

      background-color: #ffc0cb;
    }
  }
}
