@import "./utils/normalize";
@import "./utils/variables";
@import "./components/calendar";
@import "./components/calendarLoop";

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}
